/* General Body Styling */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Header and Navigation */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
main {
    padding-top: 60px; /* Adjust based on header height */
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

/* Home Section */
#home {
    text-align: center;
    padding: 50px 20px;
}

#home h1 {
    margin-bottom: 10px;
}

.social-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Experience & Education Section */
.job, .education, .publication {
    margin-bottom: 20px;
}

.job {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.job h3 {
    margin: 0;
}

.job p {
    margin: 0;
    white-space: nowrap;
}

/* Publication Section */
.publication p a {
    display: inline-block;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    margin-top: 10px; /* Space from the top */
    transition: background-color 0.3s ease;
}

.publication p a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



/* Contact Section */
#contact {
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #home {
        padding: 30px 10px;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-container.right {
        left: 0%;
    }

    .timeline-container.left::after, .timeline-container.right::after {
        left: 15px;
    }
}